<!DOCTYPE html>
<html>

<head>
    <title>Sales</title>
    {% include 'includes.html' %}
    <style>
        table tr th {
            font-size: 15px !important;
        }

        .description {
            display: inline-block !important;
            width: 150px !important;
            white-space: nowrap !important;
            overflow: hidden !important;
            text-overflow: ellipsis !important;
            padding: 30px 0px !important;
        }

        .analyticsIcon {
            color: #f2125e !important;
            font-size: 20px !important;
        }
    </style>
</head>

<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper">
            {% include 'header.html' %}
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                {% comment %} delete product modal {% endcomment %}

                                <h4 class="card-title">
                                    Sales Overview

                                </h4>
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Product name</th>
                                                <th>Total Sales</th>
                                                <th>Available Stock</th>
                                                <th style="width: 150px !important;">Analytics</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% if products %}
                                            {% for product in products %}
                                            <tr id="tableRowId{{ product.id }}">
                                                <td>{{ forloop.counter }}</td>
                                                <td id="productName">{{ product.name }}</td>
                                                <td id="productQnty">{{ product.sales }}</td>
                                                <td id="productCatId">{{ product.quantity }}</td>


                                                <td>
                                                    <a href="#" style="text-decoration: none !important;">
                                                        <i class="mdi mdi-chart-bar analyticsIcon"
                                                            title="Analytics"></i>
                                                    </a>

                                                </td>
                                            </tr>
                                            {% endfor %}
                                            {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
<script>
    $(document).ready(function () {
        $("#deleteProductModal").hide();
    })
    function deleteProduct(id) {
        $("#deleteProductModal").show();
        html = '<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button >'
        html += '<a href="delete-product/' + id + '"><button type="button" class="btn btn-danger">Yes</button</a>'
        $("#deleteProductModal .modal-footer").html(html)
    }
</script>